
body{
  font-family: 'Open Sans', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#info{
  width: 350px;
  position: relative;
  top: 15px;
}

#album_pic{
  float: left;
  height: 100px;
  width: 100px;
  margin: 10px;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 3px;
}

#button{
  padding: 5px;
  border-radius: 3px;
  background-color: #B90000;
  margin-top: 10px;
  position: relative;
  top: 5px;
  color: white;
  cursor: pointer !important;
  transition: all 0.5s ease;
}

#button:hover{
  background-color: #D50000;
}
